<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add a word</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
   

  <div id="container">
    <ion-item>
      <ion-input placeholder="English"></ion-input>
      <ion-thumbnail   slot="end">
        <img   src="../../../assets/uk.svg">
      </ion-thumbnail>
    </ion-item>
   
    <ion-item>
      <ion-input placeholder="Frensh"></ion-input>
      <ion-thumbnail   slot="end">
        <img   src="../../../assets/fr.svg">
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Arabic"></ion-input>
      <ion-thumbnail   slot="end">
        <img   src="../../../assets/ar.svg">
      </ion-thumbnail>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Meaning..."></ion-textarea>
     
    </ion-item>
    <ion-button color="primary" expand="full">Add word</ion-button>
   </div>
</ion-content>
