<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


 
   
<ion-item *ngIf="word.french" >   
  <ion-label>
    <h2>{{word.french}}</h2>  
  </ion-label>  
  <ion-thumbnail  slot="end">
    <img  src="../../../assets/fr.svg">
  </ion-thumbnail>
</ion-item>
 <ion-item *ngIf="word.arabic">
  <ion-label>
    <h2>{{word.arabic}}</h2>  
  </ion-label>  
  <ion-thumbnail   slot="end">
    <img   src="../../../assets/ar.svg">
  </ion-thumbnail>
</ion-item>
<ion-item *ngIf="word.meaning"  >   
  <ion-label>
    <h2>Meaning :</h2>  
    <p>{{word.meaning}}</p>
  </ion-label>  
  <ion-thumbnail   slot="end">
    <img  src="../../../assets/uk.svg">
  </ion-thumbnail>
</ion-item>
</ion-content>